<mat-card class="mb-4">
    <div class="flex justify-between">
        <div>
            <button mat-button [matMenuTriggerFor]="sortByMenu">
                Sort by {{sort}}
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #sortByMenu="matMenu">
                <buton (click)="onSortUpdated('desc')" mat-menu-item>desc</buton>
                <buton (click)="onSortUpdated('asc')"  mat-menu-item>asc</buton>
            </mat-menu>
        </div>
        <div class="flex items-center">
            <div>
                <button mat-button [matMenuTriggerFor]="menu">
                    Show {{ itemsShowCount }}
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <buton (click)="onItemsUpdated(12)" mat-menu-item>12</buton>
                    <buton (click)="onItemsUpdated(24)" mat-menu-item>24</buton>
                    <buton (click)="onItemsUpdated(36)" mat-menu-item>36</buton>

                </mat-menu>
            </div>
            <button>
                <mat-icon (click)="onColumnsUpdated(1)">view_list</mat-icon>
            </button>
            <button>
                <mat-icon (click)="onColumnsUpdated(3)">view_module</mat-icon>
            </button>
            <button>
                <mat-icon (click)="onColumnsUpdated(4)">view_comfy</mat-icon>
            </button>
        </div>
    </div>
</mat-card>